<div class="columns">
  <div class="column col-12">
    <div class="card">
    <div class="card-header">
      <div class="card-title h5">
        <%= link_to @link.short_url, "#{@link.short_url}", id: 'short-url' %>
      </div>
      <div class="card-subtitle text-gray"><%= link_to @link.original_url, @link.original_url %></div>
    </div>
  </div>
</div>
