# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 705dc007d111c5aef2bd186495e121ab6f7ea92ad5f37f3bf3fa8a32ee3cf23181b32f827ee35415ff27df386be6b5b9019c87900068412c50f71948c678ebfd

test:
  secret_key_base: 5be9b30b8016c9118e2da89137fc0178fbd19b9cd74057cd78641bfa12529745426ecc81b3bcd6778e80c124b4341f2feeb6eb0edef158881c1e6c83092cb247

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
