.main-title {
  font-family: 'Pacifico', cursive;
  font-size: 64px;
  margin-top: 32px;
}

.results {
  margin: 20px 0px;
}

.wrapper-center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 350px;
}